body{
    background-color: #10b864;
    font-family: "Quicksand", serif;
    height: 100vh; 
    margin: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    color: white;
}

section{
    background-color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #00000067;
    padding: 15px;
    width: 500px;

}

div{
    font-size: 20px;
    padding: 8px;
}

input{
    border-radius: 5px;
    padding: 5px;
}

a{
    background-color: #35cf82;
    color: white;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
}

a:hover{
    background-color: #139755;
}

footer{
    color: white;
}